.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.125rem;
	padding: 0 0.88rem;
	margin: 0;
	flex-shrink: 0;
	background: var(--Black, #000);
	&-menu-hamburger {
	}
	&-logo {
		margin-left: 1.6rem;
	}
	&-buttons-actions {
		display: flex;
		flex-direction: row;
		svg {
			padding: 0 0 0 0.8rem;
		}
		&-quantity {
			border: 1px solid green;
		}
	}
}
