.klz-cart-page {
   padding: 1.9rem;

   &_subtotal-container {
    margin-top: 1rem;
    color: #FFFFFF;  
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-self: end;
   }
   &_subtotal {
    font-size: 3rem;
    text-align: end;
    color: #FFFFFF; 
    font-family: "Nunito Sans";
   }
   &_conditions {
     font-family: "Nunito Sans";
     text-align: end;
     font-weight: 400;
     font-size: 1.7rem;
   }
   &_checkout-button {
    width: 120px;
    height: 30px;
    border-radius: 8px;
    font-weight: 800;
    align-self: flex-end;
   } 

   h2 {
    color: #FFFFFF; 
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 3rem;
   }
}  


@media(max-width: 800px) {
    .klz-cart-page {
        &_checkout-button {
            width: 147px;
            height: 41px;
        }
    } 
}


@media(min-width: 800px) {
    .klz-cart-page {
        padding: 15rem; 
    }
}