.klz-cart-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		width: 81.76vw;
	}
	&__title {
		color: #ffffff;
		font-family: 'Nunito Sans';
		font-weight: 700;
		font-size: 3rem;
	}
	&__subtotal {
		display: flex;
		flex-direction: column;
		justify-content: end;
		color: #ffffff;
		&-quantity {
			font-size: 2.5rem;
			text-align: end;
			color: #ffffff;
			font-family: 'Nunito Sans';
		}
		&-conditions {
			color: #fff;
			text-align: right;
			font-family: 'Nunito Sans';
			font-size: 17.778px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		&-checkout-button {
			width: 120px;
			height: 30px;
			border-radius: 8px;
			font-weight: 800;
			padding: 4px 16px;
			align-self: flex-end;
			margin-top: 1rem;
		}
	}
	@media (min-width: 860px) {
		&__subtotal {
			font-size: 3rem;
			&-checkout-button {
				width: 14.1%;
				height: 4rem;
				color: #000;
				padding: 0;

				/* Buttons */
				font-family: 'Nunito Sans';
				font-size: 25px;
				font-style: normal;
				font-weight: 900;
				line-height: normal;
			}
		}
	}
}
