.klz-portfolio-group-card {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-top: 2rem;

	&__container {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 1.5rem;
		align-items: center;
		flex-wrap: wrap;
		min-height: 87rem;

		img {
			object-fit: cover;
		}
	}

	&-title {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		p {
			color: #fff;
			text-align: center;
			-webkit-text-stroke-width: 0.4444444477558136;
			-webkit-text-stroke-color: #fff;
			font-family: 'Shadows Into Light';
			font-size: 4.5rem;
			font-style: normal;
			font-weight: 400;
			line-height: 111.648%; /* 79.394px */
			letter-spacing: 7.111px;
		}
	}
	img {
		width: 100%;
		min-height: 100%;
	}
}

.klz-portfolio-group-card-product-card {
	width: 100%;
}

@media (min-width: 860px) {
	.klz-portfolio-group-card {
		padding-top: 10rem;
		&-title {
			p {
				font-size: 7.1rem;
			}
			padding: 0rem 0rem 4rem 10.4rem;
		}
	}
	.klz-portfolio-group-card__container div:nth-child(5) {
		width: 32%;
	}

	.klz-portfolio-group-card__container div:nth-child(4) {
		width: 32%;
	}

	.klz-portfolio-group-card__container div:nth-child(3) {
		width: 32%;
	}

	.klz-portfolio-group-card__container div:nth-child(2) {
		width: 49%;
	}

	.klz-portfolio-group-card__container div:nth-child(1) {
		width: 49%;
	}
}
