.klz-shop-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: unset;
	&-container {
		height: 100%;
		padding: 1.7rem 3rem;
	}
	@media (min-width: 860px) {
		margin-bottom: 0;
		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 4rem 10rem 0rem 10rem;
			gap: 5rem;
			height: 100vh;
		}
	}
}
